.App {
  text-align: center;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 100px;
  height: 100px;
}

.photo--full-width {
  width: 100%;
}